@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display:flex;
  flex-direction:column
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul.left-links {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
}

ul.left-links a {text-decoration: none;}

li {
  list-style: none;
  margin: 0 5px;
}


ul.right-links {
  display: flex;
}

li a, button {text-decoration: none;color: #7f7d7d;;}

ul {
  padding: 0;
}

.left-links, .right-links {margin: 2px;}

.footer{
  margin-top:auto;
  background: #eeee;
}

.header, .footer{ padding: 1%;}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}